In [3]:
first_name=input("Enter the first name: ")

Enter the first name:  Yasindu

In [2]:
second_name=input("Enter the second name: ")

Enter the second name:  Balapatabendi

In [6]:
subject1=int(input("Enter the subject 1 marks: "))
subject2=int(input("Enter the subject 2 marks: "))
subject3=int(input("Enter the subject 3 marks: "))
subject4=int(input("Enter the subject 4 marks: "))
total= subject1+subject2+subject3+subject4
avarage=total/4

print(first_name)
print(second_name)
print(subject1)
print(subject2)
print(subject3)
print(subject4)
print(total)
print(avarage)

print(first_name,second_name," ",subject1,subject2,subject3,subject4," ",total," ",avarage)

Enter the subject 1 marks:  85
Enter the subject 2 marks:  75
Enter the subject 3 marks:  80
Enter the subject 4 marks:  70

Yasindu
Balapatabendi
85
75
80
70
310
77.5
Yasindu  Balapatabendi   85 75 80 70   310   77.5